{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}Liste des catégories <small> </small>{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="active"> <a href="{{ url('categories_list') }}"> Catégories </a> </li>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
             <p class="text-right"><a class="btn btn-success" href=" {{ path('category_create') }}">Créer une nouvelle catégorie</a></p>
            <div class="box">
               
                <div class="box-header">
                  <h3 class="box-title">Tous des Catégories
                      <span class="badge">{{  categories|length  }}</span>
                  </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.id }}</td>
                                    <td>{{ categorie.title }}</td>
                                    <td>{{ categorie.description }} </td>
                                    <td>{{ categorie.position }}</td>

                                    <td>
                                        <a class="btn btn-success" href="{{ path('category_show', {id: categorie.id}) }}">Voir</a>
                                        <a class="btn btn-info" href=" {{ path('category_edit', {id: categorie.id}) }} ">Editer</a>
                                        <a class="btn btn-danger" href="{{ path('category_remove', {id: categorie.id}) }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
            <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock%}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>



{% endblock %}