{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}CATEGORIE <small> </small>{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class=""> <a href="{{ url('categories_list') }}"> Categories</a> </li>
    <li class="active">  Créer </li>

{% endblock %}
{% block content %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {# form(formContact) #}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Informations générales</h3>
        </div>

        {{ form_start(formCategory, {attr: {novalidate: "novalidate", class:"form-horizontal"}}) }}
        <div class="box-body ">
            <div class="form-group">
                {{ form_errors(formCategory.title) }}
                {{ form_label(formCategory.title,"Entrez le titre de la categorie",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}
                <div class="col-sm-10">
                    {{ form_widget(formCategory.title,
                    {
                        attr:{ class: " form-control" },
                        id: "form_title"
                    })
                    }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(formCategory.position) }}
                {{ form_label(formCategory.position,"Entrez la position de la categorie",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}

                <div class="col-sm-10">
                    {{ form_widget(formCategory.position,
                    {
                        attr:{ class: " form-control"},
                        id: "form_price"
                    })
                    }}
                </div>

            </div>
            <div class="form-group">
                {{ form_errors(formCategory.description) }}
                {{ form_label(formCategory.description,"Entrez la description de la categorie",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}

                <div class="col-sm-10">
                    {{ form_widget(formCategory.description,
                    {
                        attr:{class: "form-control"},
                        id: "form_quantity"
                    })
                    }}
                </div>

            </div>

        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-info">{{ ' Ajouter ' }}</button>
            {{ form_end(formCategory) }}

            <a class="btn btn-default" href="{{ path('product_list')}}"><i class="fa fa-list"></i>{{ ' Retour à la liste ' }}</a>

        </div>
    </div>


{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('plugins/ckeditor/ckeditor.js') }}"></script>

    <script>
        CKEDITOR.replace( 'form_title' );
    </script>



{% endblock %}
