{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}Liste des produits <small> </small>{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active"> <a href="{{ url('liste_produits') }}"> Produits </a> </li>

{% endblock %}
{% block content %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {# form(formContact) #}
    {{ form_start(formFeedback, {attr: {class: "toto", novalidate: "novalidate"}}) }}
    <div class="row">

        <div class="col-xs-4">
            <div class="form-group">
                {{ form_errors(formFeedback.page) }}
                {{ form_label(formFeedback.page,"Url de la page")  }}
                {{ form_widget(formFeedback.page,
                                    {
                                        attr:{

                                        placeholder: "",
                                        class: "form-control"
                                    },
                                        id: "form_page"
                                    }
                )
                }}
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                {{ form_errors(formFeedback.statut) }}
                {{ form_label(formFeedback.statut,"Selectionnez le destinataire")  }}
                {{ form_widget(formFeedback.statut, {attr: {class: "form-control"}})}}
            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                {{ form_errors(formFeedback.date) }}
                {{ form_label(formFeedback.date,"Selectionnez le destinataire")  }}
                {{ form_widget(formFeedback.date, {attr: {class: "form-control datepicker"}})}}
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    {{ form_errors(formFeedback.lastname) }}
                    {{ form_label(formFeedback.lastname, "Votre nom") }}
                    {{ form_widget(formFeedback.lastname,
                                    {
                                        attr:{

                                            placeholder: "Nom",
                                            class: "form-control"
                                        },
                                        id: "form_lastname"
                                    })
                    }}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    {{ form_errors(formFeedback.firstname) }}
                    {{ form_label(formFeedback.firstname,"Votre prenom")  }}
                    {{ form_widget(formFeedback.firstname,
                                    {
                                        attr:{

                                        placeholder: "Prenom",
                                        class: "form-control"
                                    },
                                        id: "form_firstname"
                                    })
                    }}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    {{ form_errors(formFeedback.email) }}
                    {{ form_label(formFeedback.email,"Votre email")  }}
                    {{ form_widget(formFeedback.email,
                                    {
                                        attr:{

                                        placeholder: "email",
                                        class: "form-control"
                                    },
                                        id: "form_email"
                                    })


                    }}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_errors(formFeedback.content) }}
                    {{ form_label(formFeedback.content, "Votre texte") }}
                    {{ form_widget(formFeedback.content,
                                    {
                                        attr:{

                                        placeholder: "Ecrivez votre texte ici",
                                        class: "form-control"
                                    },
                                        id: "form_content"
                                    })
                    }}

                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-default">Valider</button>
    {{ form_end(formFeedback) }}

{% endblock %}
