{% extends 'public.layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset("asset_front/css/shop-item.css") }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        {{ render(controller('AppBundle:RenderCategory:index')) }}

        <div class="col-md-9">

            <div class="thumbnail">
                {#{{ dump(product) }}#}
                <form action="{{ path('add_cart',{id: product.id}) }}" method="get">
{##}
                    <img class="img-responsive" src="{{ asset('upload/' ~ product.image) }}" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">{{'€'~ product.price }}</h4>
                        <h4><a href="{{ path('app_products_show', { id: product.id }) }}">{{ product.titleFR | trans }}</a>
                        </h4>

                        <p>{{ product.descriptionFR | trans }}</p>
                        <p><input type="number" name="qty" value="1" min="1" max="10"></p>
                    </div>

                    <button class="btn btn-primary"> Ajouter au panier</button>

                </form>
{##}

                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="well">

                <div class="text-right">
                    <a class="btn btn-success">Ajouter un commentaire</a>
                </div>
                <hr>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            {% for flash_message in app.session.flashBag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(formComment, {attr: {novalidate: "novalidate", class:"form-horizontal"}}) }}

                            <div class="form-group">
                                {{ form_errors(formComment.author) }}
                                {{ form_label(formComment.author,"Votre nom",
                                {
                                    label_attr:{ class:"col-sm-2 control-label" }
                                })
                                }}
                                <div class="col-sm-10">
                                    {{ form_widget(formComment.author,
                                    {
                                        attr:{ class: " form-control" },
                                        id: "adminbundle_comment"
                                    })
                                    }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(formComment.score) }}
                                {{ form_label(formComment.score,"Saisir une note",
                                {
                                    label_attr:{ class:"col-sm-2 control-label" }
                                })
                                }}
                                <div class="col-sm-10">
                                    {{ form_widget(formComment.score,
                                    {
                                        attr:{ class: " form-control" },
                                        id: "adminbundle_comment"
                                    })
                                    }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_errors(formComment.content) }}
                                {{ form_label(formComment.content,"Entrez le contenu",
                                {
                                    label_attr:{ class:"col-sm-2 control-label" }
                                })
                                }}
                                <div class="col-sm-10">
                                    {{ form_widget(formComment.content,
                                    {
                                        attr:{ class: " form-control" },
                                        id: "adminbundle_comment"
                                    })
                                    }}
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-info right">{{ ' Ajouter ' }}</button>

                            </div>


                            {{ form_end(formComment) }}

                        </div>

                    </div>

                </div>

                {% for comment in repComments %}
                    <hr>
                    {# TODO DOIT ETRE AMELIORER #}
                    <div class="row">
                        <div class="col-md-12">
                            {% for i in 1..5  %}

                                {% if i <= comment.score %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}


                            {% endfor %}

                            {{ comment.author }}
                            <span class="pull-right"></span>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>



                {% endfor %}





            </div>

        </div>
    </div>
</div>

{% endblock %}