{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}Liste des produits <small> </small>{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class=""> <a href="{{ url('product_list') }}"> Produits </a> </li>
    <li class="active">  Modification </li>

{% endblock %}
{% block content %}


    {# form(formProduct) #}


    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"> Modification du produit  </h3>
        </div>
        {{ form_start(formProduct, {attr: {novalidate: "novalidate", class:"form-horizontal"}}) }}
        <div class="box-body ">
            <div class="form-group">
                {{ form_errors(formProduct.title) }}
                {{ form_label(formProduct.title,"Entrez le titre du produit",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}
                <div class="col-sm-10">
                    {{ form_widget(formProduct.title,
                    {
                        attr:{ class: " form-control" },
                        id: "form_title"
                    })
                    }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(formProduct.price) }}
                {{ form_label(formProduct.price,"Entrez le prix du produit",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}

                <div class="col-sm-10">
                    {{ form_widget(formProduct.price,
                    {
                        attr:{ class: " form-control"},
                        id: "form_price"
                    })
                    }}
                </div>

            </div>
            <div class="form-group">
                {{ form_errors(formProduct.quantity) }}
                {{ form_label(formProduct.quantity,"Entrez la quantité du produit",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}

                <div class="col-sm-10">
                    {{ form_widget(formProduct.quantity,
                    {
                        attr:{class: "form-control"},
                        id: "form_quantity"
                    })
                    }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(formProduct.marque) }}
                {{ form_label(formProduct.marque,"selectionnez la marque",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}
                <div class="col-sm-10">
                    {{ form_widget(formProduct.marque,
                    {
                        attr:{class: "form-control", palceholder: ""},
                        id: "form_marque"
                    })
                    }}
                </div>

            </div>
            {% spaceless %}
                {%  for category in formProduct.categories %}
                    <div class="form-group" >
                        <div>
                            <div class="col-sm-offset-2 col-sm-10" >
                                <div class="checkbox-inline">
                                    {{ form_widget(category) }}
                                    {{ form_label(category) }}
                                </div>
                            </div>
                        </div>
                    </div>

                {%  endfor %}
            {% endspaceless %}
            <div class="form-group ">
                {{ form_errors(formProduct.description) }}
                {{ form_label(formProduct.description, "Entrez la description du produit",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}

                <div class="col-sm-10">
                    {{ form_widget(formProduct.description,
                    {
                        attr:{
                        placeholder: "Entrez...",
                        class: "form-control",
                        rows: "3"
                    },
                        id: "form_description"
                    })
                    }}
                </div>
            </div>

        </div>
        <div class="box-footer">
                <button type="submit" class="btn btn-info">{{ ' Enregistrer ' }}</button>
                {{ form_end(formProduct) }}

                <a class="btn btn-default" href="{{ path('product_list')}}"><i class="fa fa-list"></i>{{ ' Retour à la liste ' }}</a>

        </div>
    </div>



{% endblock %}
