{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}Liste des produits <small> </small>{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="active"> <a href="{{ url('liste_produits') }}"> Produits </a> </li>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
             <p class="text-right"><a class="btn btn-success" href="{{ url('new') }}">Créer un nouveau produit</a></p>
            <div class="box">
               
                <div class="box-header">
                  <h3 class="box-title">Tous les produits</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for produit in produits %}
                                <tr>
                                    <td>{{ produit.id }}</td>
                                    <td>{{ produit.title }}</td>
                                    <td>{{ produit.description }}</td>
                                    <td>{{ produit.date_created|date("d/m/Y") }}</td>
                                    <td>
                                        <a class="btn btn-success" href="{{ path('show', { id: produit.id }) }}">Voir</a>
                                        <a class="btn btn-info" href="{{ url('edit') }}">Editer</a>
                                        <a class="btn btn-danger" href="{{ url('delete') }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
            <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock%}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>



{% endblock %}