{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}Liste des produits <small> </small>{% endblock %}

{% block breadcrumb %}
{{ parent() }}
    <li class=""> <a href="{{ url('product_list') }}"> Produits </a> </li>
    <li class="active">  {{ produit.title }}  </li>
{% endblock %}

{% block content %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Information sur le {{ produit.title }}</h3>
        </div>

        <div class="box-body ">
            <dl class="dl-horizontal center ">
                <dt>Titre</dt>
                <dd>{{ produit.title }}</dd>
                <dt>Description</dt>
                <dd>{{ produit.description }}</dd>
                <dt>Prix</dt>
                <dd>{{ produit.price }}</dd>
                <dt>Quantité</dt>
                <dd>{{ produit.quantity }}</dd>
                <dt>Marque</dt>
                <dd>{{ produit.marque.title }}</dd>
            </dl>
        </div>

        <div class="box-footer">

            <a class="btn btn-default" href="{{ path('product_list')}}"><i class="fa fa-list"></i>{{ ' Retour à la liste ' }}</a>

            <span style="display: inline-block">
                    <a class="btn btn-primary" href="{{ url('product_edit', { id: produit.id } ) }}"><i class="fa fa-trash-o"></i> Editer</a>
                 <a class="btn btn-danger" href="{{ url('product_remove', { id: produit.id } ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
             </span>


        </div>

    </div>


{% endblock%}



{% block javascripts %}

    {{ parent() }}



{% endblock %}