{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block titleContent %}MARQUE <small> </small>{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class=""> <a href="{{ url('categories_list') }}"> Marque</a> </li>
    <li class="active">  Créer </li>

{% endblock %}
{% block content %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {# form(formContact) #}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Informations générales</h3>
        </div>

        {{ form_start(form, {attr: {novalidate: "novalidate", class:"form-horizontal"}}) }}
        <div class="box-body ">
            <div class="form-group">
                {{ form_errors(form.title) }}
                {{ form_label(form.title,"Entrez la marque",
                {
                    label_attr:{ class:"col-sm-2 control-label" }
                })
                }}
                <div class="col-sm-10">
                    {{ form_widget(form.title,
                    {
                        attr:{ class: " form-control" },
                        id: "form_title"
                    })
                    }}
                </div>
            </div>


        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-info">{{ ' Ajouter ' }}</button>
            {{ form_end(form) }}

            <a class="btn btn-default" href="{{ path('brand_index')}}"><i class="fa fa-list"></i>{{ ' Retour à la liste ' }}</a>

        </div>
    </div>

{% endblock %}
